<div class="box">
  <img src="/profile-icon-28.png">
  <h2><%= @user.user_name %></h2>
  <!-- <p>Username: <%= @user.user_name %></p> -->
  <p>
    <%= link_to "Edit", user_path(@user) %> |
    <%= link_to "Event List", events_path %> |
    <%= link_to "Location List", locations_path %>
  </p>
</div>

<div class="box guest">
  <h4>My Events</h4>
  <p>You have <%= @user.event_num %> upcoming events.</p>
  <ul>
  <% @user.events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
  </ul>
</div>
