<h3>User Info</h3>
<p>Username: <%= @user.user_name %></p>
<%= link_to "Edit", user_path(@user) %> |
<%= link_to "Event List", events_path %> |
<%= link_to "Location List", locations_path %>

<h4>My Events</h4>
<p>You have <%= @user.event_num %> upcoming events.</p>
<ul>
<% @user.events.each do |event| %>
  <li><%= link_to event.name, event_path(event) %></li>
<% end %>
</ul>
