<h2>Listing Events</h2>
<%= link_to 'New event', new_event_path %>
<table>
  <th>Name</th>
  <th>Location</th>
  <th>Date</th>
  <th>Time</th>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.location.name %></td>
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= link_to 'Show', event_path(event) %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
