<h2>Welcome to Event Horizon</h2>
<!-- <p><%= link_to "Sign In", signin_path %> | <%= link_to "Sign Up", signup_path %></p> -->
<p><%= link_to "Profile", user_path(current_user) %> | <%= link_to "Events", events_path %> | <%= link_to "Locations", locations_path %></p>
