<%= form_for @location do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :capacity %>
  <%= f.number_field :capacity %>
  <br>
  <%= f.submit %>
  <% if flash[:error] %>
    <ul><%=  %>
    <% flash[:error].each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
<% end %>
