<h2>Location Info</h2>
<p>Name: <%= @location.name %></p>
<p>Capacity: <%= @location.capacity %></p>
<h3>Upcoming Events</h3>
<ul>
<% @location.events.each do |event| %>
  <li><%= event.name %></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_location_path(@location) %> |
<!-- navigates back to /locations view -->
<%= link_to 'Back', locations_path %>
